<footer class="footer-distributed">

    <div class="footer-left">

        <span><img src="/Image/LogoMR.jpg" alt=""></span>

        <p class="footer-links">
            <a href="Index.html" class="link-1">Home</a>

            <a href="Productos.html">Productos</a>

            <!-- <a href="#">Pricing</a>
  
    <a href="#">About</a>
    
    <a href="#">Faq</a>
    
    <a href="#">Contact</a> -->
        </p>

        <p class="footer-company-name">MR.Igenier © 2024</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Alberto Lorenzi #725 Puente Alto</span> Solana Beach, California</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+56 976730665</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">ignaciocdi3@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Sobre la compañia</span>
            Somos una empresa de venta de productos digitales..
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>